	<h1 class="game-title">Dev Who?</h1>

		<table class="gameboard">
		  <tr>
			<td id="1"><img src=""></td>
			<td id="2"> <img src=""></td>
			<td id="3">  <img src=""></td>
		  </tr>
		  <tr>
			<td id="4"> <img src=""> </td>
			<td id="5"> <img src=""> </td>
			<td id="6">  <img src=""></td>

		  </tr>
		  <tr>
			<td id="7">  <img src=""></td>
			<td id="8"> <img src=""> </td>
			<td id="9"> <img src=""> </td>
		  </tr>
		</table>
    <div class="hintbar">
    <div id="hint">Hint: </div>
    <button type="button">Next hint</button>
    </div>

  <script type="module" src="http://localhost:3000/game.js"></script>