	<h1 class="game-title">Dev Who?</h1>

		<table class="gameboard">
		  <tr>
			<td id="tb1">  </td>
			<td id="tb2">  </td>
			<td id="tb3">  </td>
		  </tr>
		  <tr>
			<td id="tb4">  </td>
			<td id="tb5">  </td>
			<td id="tb6">  </td>

		  </tr>
		  <tr>
			<td id="tb7">  </td>
			<td id="tb8">  </td>
			<td id="tb9">  </td>
		  </tr>
		</table>
    <div class="hintbar">
    <div id="hint">Hint: </div>
    <button>Next hint</button>
    </div>