	<h1 class="game-title">Dev Who?</h1>

		<table class="gameboard">
		  <tr>
			<td><img src="" id="1"></td>
			<td><img src="" id="2"></td>
			<td><img src="" id="3"></td>
		  </tr>
		  <tr>
			<td><img src="" id="4"></td>
			<td><img src="" id="5"></td>
			<td><img src="" id="6"></td>

		  </tr>
		  <tr>
			<td><img src="" id="7"></td>
			<td><img src="" id="8"></td>
			<td><img src="" id="9"></td>
		  </tr>
		</table>
    <div class="hintbar">
    <div id="hint">Hint: </div>


    <button type="button" id="nextHint">Next hint</button>
    </div>

  <script type="module" src="/game.js"></script>

