body{
  background-color: #05a4ca;
}

.game-title {
  
  font-size: 100px;
  color: white;
  font-family: 'Rubik Glitch', cursive;
  text-align: center;
}
td{
  width: 15vw;
  height: 15vw;
  text-align: center;
  font-size:300%;
  border: white solid 3px;
  color:  white;
}

.gameboard{
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
  border-spacing: 10px;
  color: black;
  
  border-collapse: collapse;

}

.hintbar{
  text-align: center;

}

#hint{
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


img {
  max-height : 9vw;
  max-width: 9vw;
}

footer{

  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 25px;
  font-size: 10px;
  text-align: center;
  margin-top: 125px;
 
  bottom : 0;
  width: 100%;
}
.homepage{
  display: flex;
  align-items: center;
  flex-direction: column ;
}
#dev{
  height: 20px;
  width:auto
}

#result{

  color: red;
  font-family: 'Press Start 2P', cursive;
  padding: 25px;
  font-size: 35px;
  text-align: center;
  margin-top: 125px;
 
  bottom : 0;
  width: 100%;

}

.playAgain-button,#hint-button, .play-button{
  appearance: none;
  background-color: transparent;
  border: 2px solid #05a4ca;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
   